a, a:hover, a:active, a:link, a:visited, a:focus {
    color: #525252;
}

.header .nav {
    background: rgb(131, 213, 237);
    border: none;
}

.nav a {
    font-weight: bold;
    color: white !important;
}

.nav a:hover {
    color: white !important;
    background: none !important;
    border-bottom: white 3px solid;
    padding: 8px 18px 5px
}

@media (max-width: 800px) {
    h3 {
        font-size: 32px;
    }

    .nav a {
        font-weight: normal;
        padding: 8px 18px 5px
    }

    .nav a:hover {
        border: none;
    }

    .nav .container {
        padding: 0;
    }
}

.block.title {
    padding: 75px 0;
    background: rgb(131, 213, 237);
    margin-bottom: 5px;
    border-bottom: 4px solid #f2f2f2;
}

@media (min-width: 1800px) {
    .block.title {
        padding: 120px 0;
    }

    .row#projects {
        margin: 50px 0;
    }
}

@media (max-width: 1200px) {
    .block.title {
        padding: 75px 0;
    }
}

@media (max-width: 800px) {
    .block.title {
        margin-top: 0px;
        padding: 25px 0;
    }
}

.item-1, .item-2 {
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;
}

.logo {
    padding-top: 10px;
}

h3 {
    font-weight: thin;
    margin: 0 0 10px 0;
}

@media (max-width: 800px) {
    .item-1 {
        text-align: center;
    }

    .honcol {
        visibility: hidden;
        display: none;
    }
}

.col-6 {
    text-align: center;
    margin: 35px 0;
}

.col-6 p {
    font-size: 16px;
}

@media (max-width: 800px) {
    .col-6 {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgrey;
    }

    .col-6:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }
}

.col-12 {
    margin-bottom: 0;
}

footer {
    text-align: center;
    /*border-top: 1px solid lightgrey;*/
    padding: 20px 0;
    margin: 0;
}
